<!DOCTYPE html>
<html>
<head>
  <title>Carbon Estimate Results</title>
</head>
<body>
  <h1>Carbon Estimate Results</h1>
  <p><strong>Distance:</strong> <%= distance %> km</p>
  <p><strong>Weight:</strong> <%= weight %> lbs</p>
  <p><strong>Carbon Emission:</strong> <%= carbonEstimate.data.attributes.carbon_kg %> kg CO2</p>
  <a href="/">Go Back</a>
</body>
</html>
